<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>详情页</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
  <a><img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt=""></a>
</div>
<div class="container clearfix">
  <div class="conLeft detail_left clearfix">
    <h3 class="bigTitle" th:inline="text">[[${news.title}]]</h3>
    <div class="releaseTime" th:text="${news.update}"></div>
    <div class="newDetail">
      <div class="con_details" th:utext="${news.content}"></div>
      <!--<div th:if="${news.type}=='行业报告' and ${news.pdf}!=null" class="con_details"><object class="pdf_details" width="100%" height="100%" type="application/pdf" th:data="@{'data:application/pdf;base64,' + ${T(com.bankcomm.util.TransCodeUtil).byteArrayToString(news.pdf)}}" alt=""></object></div>-->
      <div class="more"><a th:if="${news.type}=='行业报告' and ${news.pdf}!=null" th:href="@{'pdf?id='+${news.id}}" target="_blank" th:text="报告下载"></a></div>
      <div class="keyWord">
        标签：<a href="javascript:;" th:each="keyword: ${#strings.arraySplit(news.keywords,',')}" th:text="${keyword}"></a>
      </div>
    </div>
    <div class="hotNews clearfix">
      <div class="disTitle">更多推荐</div>
      <div class="newRowRecommend" th:each="news : ${recommendNewsList}">
        <a th:href="@{detail(id=${news.id}, type=(${param.type == null} ? '金融科技' : ${param.type[0]}))}" target="_blank">
          <span class="title_img"><img th:src="@{'data:image/jpg;base64,' + ${T(com.bankcomm.util.TransCodeUtil).byteArrayToString(news.cover)}}" alt=""></span>
          <span class="titles" th:text="${news.title}"></span>
          <span th:text="${news.update}" class="times"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="conRight">
    <div class="newFlash">
      <h5>7*24快讯</h5>
        <ul>
          <li th:each="news : ${topHotNewsList}">
            <a th:href="@{detail(id=${news.id}, type=(${param.type == null} ? '金融科技' : ${param.type[0]}))}" target="_blank" th:text="${news.title}"></a>
          </li>
        </ul>
        <div class="more"><a th:href="@{'hot'}" target="_blank" th:text="浏览更多"></a></div>
    </div>
  </div>
</div>
<div class="stuck">
  <div class="home-icon-silhouette" onclick="setTimeout(function(){window.location.href = '/'; }, 300);"></div>
  <div class="back-arrow" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 300);"></div>
</div>
</body>
</html>