<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>快讯</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
  <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script src="../static/js/bootstrap.min.js"  th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
  <div class="header">
    <a><img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt=""></a>
  </div>
  <div class="container clearfix">
      <img src="../static/images/banner2.png" th:src="@{/images/banner2.png}" class="banner2" alt="">
      <div class="hot_lists">
        <h3 th:text="7x24小时快讯"></h3>
        <ul class="hotNews" id="financial">
          <li th:each="news : ${allHotNewsList}">
            <a th:href="@{detail(id=${news.id}, type=(${param.type == null} ? '金融科技' : ${param.type[0]}))}" target="_blank"><span th:text="${news.title }"></span><span th:text="${news.update}"></span></a >
          </li>
        </ul>
        <div class="row">
          <div th:if="${allHotNewsList.totalPages != 1}" class="form-group pagination-centered">
            <ul class="pagination">
              <li th:class="${allHotNewsList.number == 0} ?  'disabled page-item'">
                <a class="page-link" th:href="@{/hot/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
              </li>
              <li th:class="${allHotNewsList.number == 0} ? disabled : 'page-item'">
                <a class="page-link" th:href="@{/hot/(pageSize=${selectedPageSize}, page=${allHotNewsList.number})}">&larr;</a>
              </li>
              <li th:class="${allHotNewsList.number == (page - 1)} ? 'active pointer-disabled'"
                  th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="page-link" th:href="@{/hot/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
              </li>
              <li th:class="${allHotNewsList.number + 1 == allHotNewsList.totalPages} ? disabled">
                <a class="page-link" th:href="@{/hot/(pageSize=${selectedPageSize}, page=${allHotNewsList.number + 2})}">&rarr;</a>
              </li>
              <li th:class="${allHotNewsList.number + 1 == allHotNewsList.totalPages} ? disabled">
                <a class="page-link" th:href="@{/hot/(pageSize=${selectedPageSize}, page=${allHotNewsList.totalPages})}">&raquo;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>